<!DOCTYPE html>
<html>
    <head>
        <title>About | Ruby on Rails Tutorial Sample App</title>
    </head>
    <body>
        <h1>About Me</h1>
        <p>I am Kedar Hegde. I am learning Rails.</p>
    </body>
</html>

