<% provide(:title, "Contact") %>
<h1><%= t('title.contact') %></h1>
<p><%= t('others.about') %></p>
<p><%= t('others.github') %><a href = "https://github.com/kedarnhegde" target = "_blank">GitHub</a><%= t('others.github_ja') %></p>