<% provide(:title, "Home") %>
<h1>HOME PAGE - Microposts</h1>
<p>This is the home page for my new app</p>
<p>For more information, visit my <a href="https://github.com/kedarnhegde" target="_blank">GitHub</a></p>