<% provide(:title, 'Users List') %>
<h1><%= t('title.user_list') %></h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</ul>

<%= will_paginate %>