<footer class="footer">
  <small>
  Copyright © Kedar Hegde and Robbi (for the name "Tweeter") | 株式会社 アンドパッド | 2024
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>