<header class="navbar navbar-fixed-top navbar-inverse tweeter-navbar">
    <div class="container">
    <%= link_to "Tweeter", root_path, id: "logo" %>
    <nav>
        <ul class="nav navbar-nav navbar-right">
        <li class="nav-items"><%= link_to "Home", root_path %></li>
        <li class="nav-items"><%= link_to "Help", help_path %></li>
        <li class="nav-items"><%= link_to "Log in", login_path %></li>
        </ul>
    </nav>
</div>
</header>